<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<form th:action="@{/person/form}" th:object="${persona}" method="post">

    <label>Nombre</label>
    <input type="text" th:field="*{nombres}">
    <label>Apellidos</label>
    <input type="text" th:field="{*apellidos}">
    <label>Email</label>
    <input type="text" th:field="{*email}">
    <label>Fecha Nacimiendo</label>
    <input type="text" th:field="{*fecha_nacimiento}">
    <input type="submit" value="Crear usuario">
</form>



</body>
</html>