<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<a href=""></a>
<table>
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Fecha Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="per:${person}">
            <td th:text="${per.nombres}"></td>
            <td th:text="${per.apellidos}"></td>
            <td th:text="${per.email}"></td>
            <td th:text="${per.fecha_nacimiento}"></td>
            <td th:text="${per.id}" hidden></td>
        </tr>
    </tbody>
</table>
</body>
</html>