<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<header class="header__principal" th:fragment="header">
    <nav class="navbar__principal">
        <ul class="listado__items">
            <li class="listadp__items__opciones">
                <a href="@{/}">Home</a></li>
            <li class="listadp__items__opciones">
                <a th:href="@{/persona/listado}">Usuarios</a></li>
            <li class="listadp__items__opciones">Proximamente</li>
            <li class="listadp__items__opciones">Login</li>
        </ul>
    </nav>
</header>



</body>
</html>